{%extends 'base.html'%}

{%block title%}Converter para Braille{%endblock%}
{%block content%}

    <form class="my-5" method="post">
        <label for="phrase">Qual palavra quer traduzir para Braille?</label>
        <div class="input-group">
            <input class="form-control" type="text" name="phrase" id="phrase">
            <div class="input-group-append">
                <button class="btn btn-primary" type="submit">Traduzir</button>
            </div>
        </div>
    </form>

{% if phrase: %}
    {% for letter in phrase.lower() %}
        {%if letter in keys_arrays or letter == ' ':%}
                <div class="d-inline-block m-4">
                    {% if letter == ' ': %}
                        <div style="width: 50px;"></div>
                    {% else %}
                        {% for i in range(0, 3) %}  
                            <div>
                                {% for j in range(0, 2) %}
                                    {% if arrays[letter][i][j]: %}
                                        <div style="background-color: black; border-radius: 50px; width: 50px; height: 50px; display: inline-block;"></div>
                                    {% else %}
                                        <div style="background-color: #ccc; border-radius: 50px; width: 50px; height: 50px; display: inline-block;"></div>
                                    {% endif %}
                                {% endfor %}
                            </div>
                        {% endfor %}
                        <p style="text-align: center;">{{letter.upper()}}</p>
                    {% endif %}
                </div>
        {% endif %}
    {%endfor%}    
{%endif%}

{%endblock%}